@import url(fonts.css);

/* 
===================================================
Author: Amir Nageh
Version: v1
Last-update: 12-01-2016
Contacts: fb.com/amirnagh15
======================================================
*/


/* 
================= Tabel of content ===================
00-General functions
01-Main Header
    -Logo
    -Navbar
02-Search-box
    -input search
    -button submit
03-Selects-box
    -select1
    -select2
    -button submit
04-Products
    -slider-nav
    -slider items
05-Status
    -div img left
    -div information right
06-Footer
    -copy_rights
    -site map
======================================================
*/


/* ******** General Functions ************ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

HTML5 display-role reset for older browsers article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

p {
    line-height: 24px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
}


/***** _____	html5 display rul   _____*****/

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
    display: block;
}


/***** _____	General Styles   _____*****/

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
    font: normal 14px Greta;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: right;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

::-moz-selection {
    background: #41413f;
    color: #fff;
}

::selection {
    background: #41413f;
    color: #fff;
}

:-moz-placeholder {
    color: #c1c1c1;
}

::-webkit-input-placeholder {
    color: #c1c1c1;
}

:-ms-input-placeholder {
    color: #c1c1c1;
}

.transitions * {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.pull-right {
    float: left !important
}

.pull-left {
    float: right !important
}

a:link,
a:visited {
    color: #ea5b0c;
    text-decoration: none
}

a:hover {
    color: #41413f;
    text-decoration: underline
}


/***** _____	bootsrap with no spaces   _____*****/


/* remove spacing between middle columns */

.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
    padding-left: 0;
    padding-right: 0;
}


/* remove right padding from first column */

.row.no-gutter [class*='col-']:first-child {
    padding-left: 1px;
}


/* remove left padding from first column */

.row.no-gutter [class*='col-']:last-child {
    padding-right: 1px;
}


/* ***************************** Navbar ********************************** */

.header {
    padding: 0;
}

.navbar-default {
    background-color: #fff;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    z-index: 999;
    /*    box-shadow: 1px 1px 1px #ccc;*/
}

.navbar-default .navbar-nav > li > a {
    color: #2c3e50;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-family: 'neosans-bold';
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #fff;
    color: #2c3e50;
    border-bottom: 3px solid #2c3e50;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.navbar-default .navbar-brand {
    font-family: neosans-bold;
    text-transform: uppercase;
    color: #2c3e50;
    font-size: 22px;
}

.navbar-default .navbar-brand:hover {
    color: #2c3e50;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #2c3e50;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2c3e50;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2c3e50;
}

.navbar-form {
    margin: 0;
}

.drop {
    height: 50px;
    padding: 7px 0px;
}

.dropdown-menu > li > a {
    padding: 10px;
    text-transform: uppercase;
    font-family: 'sans-reg';
    font-size: 13px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #fff;
    padding-left: 15px;
    text-decoration: none;
    background-color: #86BC42;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    padding-left: 15px;
    text-decoration: none;
    background-color: #86BC42;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fafafa;
    color: #86bc42;
    border-bottom: 2px solid #86bc42;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.multi-top {
    width: 100%;
    height: 5px;
    display: block;
}

.multi-top span {
    display: inline-block;
    height: 5px;
    content: '';
    float: right;
    width: 10%;
}

.t1 {
    background-color: #3498db;
}

.t2 {
    background-color: #2ecc71;
}

.t3 {
    background-color: #f1c40f;
}

.t4 {
    background-color: #8e44ad;
}

.t5 {
    background-color: #1abc9c;
}


/* ****************************** search-box ************************************* */

.search-box {
    background-image: url(../images/search-bj.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.search-form {
    padding: 150px 0;
}

.search-form input[type="search"] {
    width: 60%;
    border: 0;
    padding: 10px;
    height: 55px;
    line-height: 55px;
    direction: rtl;
    outline: 0;
    font-family: 'neosans-regular';
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.search-form button {
    border: 0;
    height: 55px;
    width: 15%;
    line-height: 55px;
    background-color: #2C3E50;
    color: #fff;
    outline: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.search-form input[type="search"]:focus {
    box-shadow: 1px 1px 60px #fff;
}

.search-form button:hover {
    background-color: #1a3148;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}


/* ***************************** selects-box ******************************************** */

.selects-box {
    background-color: #005E9C;
    padding: 20px 0 5px 0;
}

.selects-box div select {
    width: 100%;
    direction: rtl;
    height: 40px;
    font-size: 14px;
    outline: 0;
    font-family: 'neosans-bold';
    padding: 0;
    border: 0;
}

.selects-box .container div {
    margin: 0 0 8px 0;
}

.selects-box div button {
    width: 100%;
    font-family: 'neosans-bold';
    border: 0;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    background-color: #2C3E50;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.selects-box div button:hover {
    background-color: #1a3148;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.selects-box div button i {
    margin-right: 10px;
}


/* ***************************** most-products ************************************************* */

.most-products {
    padding: 0;
}

.products-slider {
    padding: 40px 0;
}

.products-head {
    padding: 0;
    text-align: right;
}

.products-head h1 {
    font-family: 'neosans-regular';
    color: #FFFFFF;
    background-color: #2C3E50;
    padding: 20px 40px;
}

.item {
    padding: 15px;
}

.item-name {
    height: 178px;
    overflow: hidden;
    min-height: 178px;
}

.item-content {
    background-color: #f4f4f4;
    border: 1px solid #dfdfdf;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.item-content:hover .item-caption {
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.item-content:hover .item-caption a {
    opacity: 1;
    top: 50%;
    box-shadow: 0 0 110px #FFF;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.item-caption {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.item-caption a {
    top: -20px;
    opacity: 0;
    position: relative;
    padding: 10px 13px;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.item-caption a:hover {
    background-color: #fff;
    color: #000;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.item-img {
    height: 200px;
    overflow: hidden;
    min-height: 200px;
}

.item-img img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.item-name p {
    padding: 10px 0 0;
    font-family: 'neosans-regular';
    font-size: 14px;
    color: #8E8C8C;
}

.owl-buttons {
    top: -48px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.item img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.owl-next {
    color: #FFF;
    background: #005E9C;
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 0;
    line-height: 54px;
    text-align: center;
    float: left;
    font-size: 17px;
    position: relative;
    left: 25px;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.owl-prev {
    color: #FFF;
    background-color: #005E9C;
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 0;
    line-height: 54px;
    text-align: center;
    float: left;
    font-size: 17px;
    position: relative;
    left: 20px;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.owl-next:hover,
.owl-prev:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.owl-pagination {
    background: #fff;
    display: inline-block;
    position: relative;
    top: -35px;
    padding: 10px;
    border-radius: 10px;
}

.owl-theme .owl-controls {
    text-align: center;
    height: 0;
    margin: 0;
}


/* *************************  status ************************************************ */

.status {
    padding: 0;
    background-image: url(../images/sliderbj.png);
    background-size: 13%;
    background-attachment: fixed;
    background-color: #2C3E50;
}

.status div {
    padding: 20px;
}

.status div p {
    color: #fff;
    font-family: neosans-regular;
    direction: rtl;
    line-height: 32px;
}


/* **************************** Footer ***************************** */

.footer {
    padding: 0;
    background-color: #222;
}

.footer div {
    padding: 8px 0;
}

.footer div a {
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    font-family: 'neosans-regular';
}

.footer div p {
    color: #fff;
    font-size: 13px;
    font-family: 'neosans-regular';
}


/* ====================================================================================================================================================================================================================================== All-Types Page ================================================================== */

.types-head {
    background-image: url(../images/sliderbj.png);
    background-color: dodgerblue;
    background-size: 13%;
    padding: 40px 0;
}

.types-head h1 {
    font-family: 'neosans-bold';
    color: #fff;
    font-size: 25px;
}

.types-wrapper {
    padding: 50px 0;
}

.block {
    padding: 15px;
}

.block-inner {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.block-img {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
}

.block-img img {
    width: 100%;
    height: 100%;
}

.block-data,
.block-img {
    height: 195px;
    min-height: 195px;
    overflow: hidden;
}

.block-data h1 {
    direction: rtl;
    padding: 20px 0 10px 0;
    font-family: 'neosans-bold';
    font-size: 18px;
}

.block-data p {
    direction: rtl;
    font-family: 'neosans-regular';
    font-size: 13px;
}

.block-caption {
    padding: 0;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.90);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.block-caption a {
    top: 50%;
    position: absolute;
    border: 1px solid #fff;
    color: #fff;
    padding: 11px 12px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    margin: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.block-caption a:hover {
    background-color: #fff;
    color: #333;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.preview {
    left: -60px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.out-link {
    right: -60px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.block-inner:hover .block-caption {
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.block-inner:hover .preview {
    left: 30%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.block-inner:hover .out-link {
    right: 30%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.load-ajax a {
    text-transform: capitalize;
    background-color: #1C89F4;
    padding: 10px 100px;
    border-radius: 4px;
    color: #fff;
    font-family: 'neosans-bold';
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.load-ajax a i {
    font-size: 15px;
    margin-left: 15px;
}

.load-ajax a:hover {
    background-color: #2C3E50;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.load-ajax a:hover i {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.ajax-hidden {
    padding: 0;
    display: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}


/* ================================================================================================================================================================================================================================================ Comparison Page ======================================================= */

.comparison-head {
    background-image: url(../images/sliderbj.png);
    background-color: #16a085;
    background-size: 13%;
    padding: 40px 0;
}

.comparison-head h1 {
    color: #fff;
    font-family: 'neosans-bold';
    font-size: 25px;
}

.compare-slider {
    padding: 50px 0;
}

.card {
    padding: 5px;
}

.card-inner {
    background-color: #2C3E50;
    border-radius: 5px;
}

.card-head h1 {
    color: #fff;
    font-family: 'neosans-regular';
    font-size: 14px;
    padding: 10px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-img {
    min-height: 85px;
    height: 85px;
}

.card-name a {
    background-color: #16a085;
    color: #fff;
    padding: 10px 17px;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family: 'neosans-regular';
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.card-name a:hover {
    background-color: #08cca6;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.filter-show {
    padding: 20px 0 40px;
}

.filters {
    padding: 15px 0 0;
    text-align: center;
}

.filters a {
    background-color: #2C3E50;
    color: #fff;
    font-family: 'neosans-regular';
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    float: right;
    cursor: pointer;
    margin: 2px;
    text-decoration: none;
}

.filters a.active {
    background-color: #1986D4;
}

.filter-graph {
    padding: 0;
    border: 1px solid #ccc;
    background-image: url(../images/lines.jpg);
    background-size: 59%;
}

.gr-item {
    height: 250px;
    padding: 0 30px;
}

.chart-column {
    height: 88%;
    bottom: 0;
    position: relative;
    z-index: -1;
}

.bar1 {
    background: #1986D4;
}

.bar2 {
    background: #16a085;
}

.chart-percent {
    background: #2C3E50;
    color: #fff;
    text-align: center;
    font-family: 'neosans-bold';
    padding: 7px;
    z-index: 1;
}

.compare1 {
    padding: 0;
}

.compare2 {
    display: none;
    padding: 0;
}


/* ============================================================================================================================================================================================================================================ Contact-Us Page =========================================================== */

.contact-head {
    background-image: url(../images/sliderbj.png);
    background-color: #8e44ad;
    background-size: 13%;
    padding: 40px 0;
}

.contact-head h1 {
    font-family: 'neosans-bold';
    color: #fff;
    font-size: 25px;
}

.contact-wrapper {
    padding: 30px 0 50px;
}

.send-msg {
    margin-bottom: 20px;
}

.send-msg input[type="email"] {
    width: 100%;
    border: 1px solid #dfdfdf;
    height: 40px;
    color: #bbb;
    margin-bottom: 10px;
    float: right;
    text-align: right;
    direction: rtl;
    padding: 15px;
    font-family: 'neosans-regular';
    font-size: 14px;
    outline: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.send-msg textarea {
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    height: 120px;
    color: #bbb;
    margin-bottom: 10px;
    float: right;
    resize: vertical;
    text-align: right;
    direction: rtl;
    padding: 15px;
    font-family: 'neosans-regular';
    font-size: 14px;
    outline: 0px;
    margin-top: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.send-msg button {
    float: right;
    padding: 12px 60px;
    border: 0;
    outline: 0;
    font-family: 'neosans-bold';
    color: #fff;
    font-size: 13px;
    background-color: #2C3E50;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.send-msg input[type="email"]:hover,
.send-msg input[type="email"]:focus {
    border: 1px solid #2C3E50;
    color: #2C3E50;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.send-msg textarea:hover,
.send-msg textarea:focus {
    border: 1px solid #2C3E50;
    color: #2C3E50;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.send-msg button:hover {
    background-color: #8E44AD;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.contacts div {
    margin-bottom: 10px;
}

.contacts div h1 {
    font-family: 'neosans-bold';
    background-color: #2C3E50;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}

.contacts div h1 i {
    font-size: 20px;
    margin-left: 5px;
    line-height: 25px;
}

.contacts div p {
    padding: 10px 0;
    color: #2C3E50;
    font-family: 'neosans-bold';
}

.contacts div a {
    padding: 10px 15px;
    float: right;
    border: 1px solid #2C3E50;
    margin: 12px 5px 0;
    color: #2C3E50;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.facebook:hover {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.twitter:hover {
    background-color: #00aced;
    border: 1px solid #00aced;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.linkedin:hover {
    background-color: #007bb6;
    border: 1px solid #007bb6;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}


/* ============================================================================================================================================================================================================================================About-Us Page =========================================================== */

.about-head {
    background-image: url(../images/sliderbj.png);
    background-color: #e74c3c;
    background-size: 13%;
    padding: 40px 0;
}

.about-head h1 {
    font-family: 'neosans-bold';
    color: #fff;
    font-size: 25px;
}

.about-wrapper {
    padding: 30px 0 50px;
}

.about-wrapper h1 {
    font-family: 'neosans-bold';
    background-color: #e74c3c;
    padding: 15px 0;
    color: #fff;
    margin-bottom: 12px;
    font-size: 14px;
}

.about-wrapper p {
    font-family: 'neosans-regular';
    font-size: 13px;
    margin-bottom: 15px;
}

.about-wrapper iframe {
    margin-bottom: 10px;
}
.canvasjs-chart-credit {
    display: none;
}
